@import '../scss/variables';

.results-container {
    width: 100%;
    height: 100%;
}

main {
    width: 75vw;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1rem;
    padding-bottom: 5vh;
}

input {
    background-color: darken($lightGray, 5);
}

@media screen and (max-width: 731px) {
    main {
        width: auto;
        margin: 0 0.5rem;
    }
}

@media screen and (max-width: 375px) {
    main {
        margin: 0;
        width: 100vw;
    }
}
