@import '../scss/variables';

.results-container {
    width: 100%;
    height: 100%;
}

main {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: stretch;
}

@media screen and (max-width: 731px) {
    main {
        width: 98vw;
        margin: 0 auto;
    }
}
