.search-container header {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #cfcfcf77;
}
.background-credits {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    color: #999999;
}
