@import '../scss/variables';

.search-container {
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        margin: 0;
        padding: 0;
        border-radius: 0;
        object-fit: cover;
        transition: all 0.5s ease-in-out;
        z-index: -100;
    }

    header {
        padding: 2rem;
        border-radius: 2rem;
        background-color: $midtoneGray;
        border: 1px solid $accentColorWOpacity;
        // box-shadow: 0 0 10px $lightGray;
        input {
            background-color: $lightGray;
        }
    }
}

@supports (backdrop-filter: blur(2px)) {
    .search-container header {
        // background: #cfcfcf77;
        backdrop-filter: blur(1px);
    }
}
// @supports not (backdrop-filter: blur(2px)) {
//     .search-container header {
//         // background: #cfcfcfc4;
//     }
// }
.background-credits {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.9rem;
    color: #999999;
}
