@import '../scss/_variables';
.app-logo {
    font-family: $fontFamilyInter;
    margin-top: 0.2rem;
    margin-bottom: 1.5rem;
    text-transform: lowercase;
    & > a {
        color: $accentColor;
        text-decoration: none;
    }
}
