@import '../scss/variables';

.modal-header {
    border-bottom: 1px solid $accentColorWOpacity;
}

.modal-content {
    font-family: $fontFamilyInter;
    background-color: $lightGray;
    border: none;
    img {
        box-shadow: none;
        cursor: pointer;
        margin: 0;
    }
}

.modal-body {
    padding: 1.5rem;
}

.modal-footer {
    border-top: 1px solid $accentColorWOpacity;
}

.btn-dark {
    background-color: darken($accentColor, 10);
    border: 1px solid darken($accentColor, 10);

    &:hover,
    &:active {
        background-color: scale-color($accentColor, $lightness: 10%);
        border: 1px solid scale-color($accentColor, $lightness: 10%);
    }
}
