@import '../scss/variables';

img {
    border-radius: 1rem;
    width: 30%;
    height: 100%;
    object-fit: cover;
    margin: 0.5rem;
    cursor: pointer;
    box-shadow: 0 0 0 0 $accentColorWOpacity;
    transition: box-shadow 0.1s ease-in-out;
}

img:hover,
img:active {
    box-shadow: 0 0 1rem 0 $accentColorWOpacity;
}

@media screen and (max-width: 732px) {
    img {
        margin: 5px;
        width: 45%;
    }
}
@media screen and (max-width: 375px) {
    img {
        margin: 0.5rem 0;
        width: 95vw;
        min-width: 200px;
    }
}
