img {
    border-radius: 1rem;
    width: 32%;
    height: 100%;
    object-fit: cover;
    margin: 0.5rem;
}

@media screen and (max-width: 732px) {
    img {
        margin: 5px auto;
        width: 95vw;
    }
}
@media screen and (max-width: 375px) {
    img {
        margin: 5px;
        width: 95vw;
        min-width: 320px;
    }
}
