@import '../scss/variables';

.img-container {
    display: grid;

    &::before {
        content: '';
        padding-bottom: 100%;
        display: block;
    }

    &::before,
    & > img {
        grid-area: 1 / 1 / 2 / 2;
    }
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: 0 0 0 0 $accentColorWOpacity;
    transition: box-shadow 0.1s ease-in-out;
}

img:hover,
img:active {
    box-shadow: 0 0 1rem 0 $accentColorWOpacity;
}
