@import '~bootstrap/scss/bootstrap';
@import './scss/variables';

#App {
    min-height: 100vh;
    height: 100%;
    font-family: $font-family-inter;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    color: rgb(33, 70, 149);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: line-through;
    }
}
