@import '~bootstrap/scss/bootstrap';
@import './scss/variables';

#App {
    min-height: 100vh;
    height: fit-content;
    min-width: 280px;
    background: $lightGray;
    font-family: $fontFamilyInter;
    color: $fontColor;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

a {
    color: $accentFontColor;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    &:hover {
        text-decoration: line-through;
    }
}
