@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700;800;900&family=Poppins:wght@300;400&display=swap');

$font-family-poppins: 'Poppins', sans-serif;
$font-family-inter: 'Inter', sans-serif;
